<div class="master-container" >
	<div class="container-fluid">
		<h2 class="name">VAIBHAV GUPTA</h2>
		<h4 class="designation">Desinger. Leader. Visionary</h4>
		<div class="social-icons">
			<%= link_to image_tag('fb.png'), '#' %>
			<%= link_to image_tag('twitter.png'), '#' %>
			<%= link_to image_tag('linkedin.png'), '#' %>
			<%= link_to image_tag('instagram.png'), '#' %>
		</div>
	</div>
</div>
<div class="container" style="overflow:hidden" >
	<div id = "profile" >
		<div class="col-md-6 col-xs-12">
			<%= render 'common/spinner' %>
			<%= link_to image_tag('007.png'), pages_project1_path, class: "project1" %>
			<span class="text"><span><%= link_to '007 ELIXIR GAMING PROJECT', pages_project1_path %></span></span>
		</div>
		<div class="col-md-6 col-xs-12">
			<%= link_to image_tag('domotz.jpg'), pages_project2_path, class: "project2" %>
			<span class="text"><span><%= link_to 'DOMOTZ UX PROJECT', pages_project2_path %></span></span>
		</div>
		<div class="col-md-6 col-xs-12" >
			<%= link_to image_tag('metropia4.jpg'), pages_project3_path, class: "project3" %>
			<span class="text"><span><%= link_to 'HEROES OF METEROPIA', pages_project3_path %></span></span>
		</div>
			<div class="col-md-6 col-xs-12" >
			<%= link_to image_tag('007.jpg'), pages_project1_path, class: "project4" %>
		</div>
		<div class="col-md-6 col-xs-12">
			<%= link_to image_tag('domotz.jpg'), pages_project2_path, class: "project5" %>
		</div>
		<div class="col-md-6 col-xs-12" >
			<%= link_to image_tag('007.jpg'), pages_project1_path, class: "project6" %>
		</div>
	</div>
</div>

