<div class="master-container" >
	<div class="container-fluid">
		<h2 class="name">VAIBHAV GUPTA</h2>
		<h4 class="designation">Designer. Leader. Visionary</h4>
		<div class="social-icons">
			<%= link_to image_tag('fb.png'), 'https://www.facebook.com/vaibhav2psp' %>
			<%= link_to image_tag('twitter.png'), 'https://twitter.com/vaibhav2psp' %>
			<%= link_to image_tag('linkedin.png'), 'https://uk.linkedin.com/in/vaibhav2psp' %>
			<%= link_to image_tag('instagram.png'), 'https://www.instagram.com/vaibhav2psp/' %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2 col-xs-12">
		<div class="header-group">
			<div class="header1"><%= link_to 'HOME', root_path %></div><br />
			<div class="header1"><%= link_to 'ABOUT',pages_about_path %></div><br />
			<div class="header1"><%= link_to 'CONTACT', pages_contact_path %></div><br />
			<div class="header1"><%= link_to 'RESUME', pages_resume_path %></div><br/>
		</div>
	</div>
<div class="col-md-10">
	<div class="container" style="overflow:hidden" >
		<div id = "profile" >
			<div class="col-md-6 col-xs-12">
				<%= link_to image_tag('007.png'), pages_project1_path, class: "project1" %>
				<span class="text"><span><%= link_to '007 ELIXIR GAMING PROJECT', pages_project1_path %></span></span>
			</div>
			<div class="col-md-6 col-xs-12">
				<%= link_to image_tag('domotz.jpg'), pages_project2_path, class: "project2" %>
				<span class="text"><span><%= link_to 'DOMOTZ UX PROJECT', pages_project2_path %></span></span>
			</div>
			<div class="col-md-6 col-xs-12" >
				<%= link_to image_tag('metropia4.jpg'), pages_project3_path, class: "project3" %>
				<span class="text"><span><%= link_to 'HEROES OF METEROPIA', pages_project3_path %></span></span>
			</div>
			<div class="col-md-6 col-xs-12" >
				<%= link_to image_tag('culture1.jpg'), pages_project4_path, class: "project4" %>
				<span class="text"><span><%= link_to 'CULTURE DABBA', pages_project4_path %></span></span>
			</div>
			<div class="col-md-6 col-xs-12" >
				<%= link_to image_tag('research1.jpg'), pages_project5_path, class: "project5" %>
				<span class="text"><span><%= link_to 'GAME RESEARCH', pages_project5_path %></span></span>
			</div>
			<div class="col-md-6 col-xs-12" >
				<%= link_to image_tag('future1.jpg'), pages_project6_path, class: "project6" %>
				<span class="text"><span><%= link_to 'FUTURE RESEARCH', pages_project6_path %></span></span>
			</div>
		</div>
	</div>
</div>
</div>

