<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
    <li><%= link_to 'HOME', root_path %></li>
       <li><%= link_to 'ABOUT', pages_about_path %></li>
       <li><%= link_to 'CONTACT', pages_contact_path %></li>
       <li><%= link_to 'RESUME', pages_resume_path %></li>
      </ul> 
        
      <ul class="nav navbar-nav navbar-right">
        <a class="navbar-brand">VAIBHAV GUPTA</a>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <h2 class="project-name">MY FUTURE VISION</h2>
  <div class="flexslider">
    <ul class="slides">
      <li class="project-image1"><%= image_tag('future2.jpg') %></li>
      <li class="project-image3"><%= image_tag('future4.jpg') %></li>
      <li class="project-image3"><%= image_tag('future5.jpg') %></li>
    </ul>
  </div>
  <h3 style="text-align:center">MY VISION</h3>

  <p style="margin-left:20%;margin-right:20%">I am extremely passionate about theoretical Video Game research and making Video Games more realistic. But, getting deeper into this quest of mine, I believe that realistic Video Games have a purpose beyond entertainment. I intend to use my mastery in the field to help improve the lives of people with long term orthopaedic injuries and rehabilitation. Particularly long term paralysis patients who have lost mobility and the ability to walk. Having been told I would not walk again by doctors on two occasions in my life, and challenging the verdict, I have regained mobility beyond expectations. It was in these journeys that I have come to understand the dated nature of current physical therapy and rehabilitation programs.<br /><br /> 
  My intents are to start a company to build products for people with recent orthopaedic injuries and long term paralysis patients. The key intents of this company are to produce Virtual reality world based video games to assist people with recent orthopaedic leg injuries with their physical therapy and rehabilitation. This comes on the basis of my personal experience from my multiple knee and ankle surgeries, facing the daunting challenge of recovering from both occasions to the point of not only walking, but also riding motorcycles and returning to normal life. On both occasions, the biggest challenge I faced was not the multiple surgeries, but the dated post-surgery physical rehabilitation where combating joint freezes and muscle atrophy proved to be incredibly painful, but more importantly tedious tasks.<br /><br />
  Having come from the game industry, this led me to examine the process at a deeper level and explore techniques where we could use VR headset based gaming to make the journey a smoother and rewarding. I have also learnt that the complete success rates of most surgeries of this nature are low because of low engagement and high drop rates in the Physical rehabilitation phase of the treatment. Having undergone the process on two significant occasions in my life and having challenged myself throughout the process, I have successfully regained over 90 % of my original functionality, I thoroughly understand the need for improvement of it to other patients as well. Another unexpected fruit of this project is the ability to bring a smile on the faces of people who have the unfortunate fate of being bound to wheelchairs and beds. Every long term paralysis patient I have met has with a tear in his/her eye told me they’d kill to experience the feeling of walking and being mobile again. This is a sister goal of my company to extend the application of our products to enable bed bound paralysed patients to explore places across the globe through our open world VR headset based game media.<br /><br/>
  </p><br />


  <h3 style="text-align:center">MY GOALS</h3>

  <ul style="margin-left:20%;margin-right:20%">
  <li>Built a collapsible Teflon surface platform with a harness to secure users and allow VR movement without actual physical movement.</li>
  <li>Build vibration responsive feet/knee braces to add depth in perception of step-thump.</li>
  <li>Build a team at the University to work with me on the Programming, 3D modelling and level design work of the project.</li>
  <li>Research in-depth into making VR walk and movement more realistic, concepts like walk gait physics.</li>
  <li>Cover in-depth research into the feasibility of the project.</li>
  <li>Secure investment to build and launch the company.</li>
  <li>Launch the product into Private clinics and proceed into public hospitals.</li>
  </ul><br />
    <h3 class="prev"><%= link_to 'Prev Project',pages_project5_path %></h3>
    <h3 class="next"><%= link_to 'Next Project', pages_project1_path %></h3>
  </div>