<nav class="navbar navbar-default" style='margin-bottom:-10px'>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
       <li><%= link_to 'HOME', root_path %></li>
       <li><%= link_to 'ABOUT', pages_about_path %></li>
       <li><%= link_to 'CONTACT', pages_contact_path %></li>
       <li><%= link_to 'RESUME', pages_resume_path %></li>
      </ul> 
        <ul class="nav navbar-nav navbar-right">
        <a class="navbar-brand">VAIBHAV GUPTA</a>
      </ul>
    </div>
  </div>
</nav>
<div class="profile-container">
     <%= image_tag('profile-image.jpg', class: 'img-circle') %>
</div>
<div class="container" style="margin-top: 70px">
  <div class="row">
    
    <div class="col-md-4">
      <h2 style="font-family:'Lato-Thin'">EDUCATION:</h2>
    </div>
    <div class="col-md-8">
      <h3>MA (DISTINCTION) IN VIDEO GAMES DEVELOPMENT | 2014 | KINGSTON UNIVERSITY, LONDON</h3>
        <p>Major: Video Games Development and Design</p>
        <p>Minor: User Experience Design, Digital Project Management</p>
        <p>Related coursework: Designing Video Games and their concepts, specializing in educative and technical genres. Redesigning existing systems to generate content directed towards a more modern audience.</p>
        <p>Highlight: University final project was the redesign and reboot of the James Bond game franchise, which won me the highest mark (85%) in my batch and a distinction.</p>
      <h3>BACHELORS IN COMPUTER SCIENCE AND ENGINEERING | 2013 | PONDICHERRY UNIVERSITY, INDIA</h3>
        <p>Major: Software Engineering</p>
        <p>Minor: Computer Programming</p>
        <p>Related coursework: Software design, Programming using C, C++, C#. Exposure and fundamentals of Java, .Net, Web Design, Database Management systems, Digital Project Management.</p>
        <p>Highlight: Final project was designing an Enhanced Secure Dynamic IPv6 Scheme of Mobile Ad Hoc Networks using Elliptic Curve Cryptography, which was an IEEE paper which won my team and me the highest marks of our batch and recognition.</p>
    </div>
    <div class="col-md-4">
      <h2 style="font-family:'Lato-Thin'">EXPERIENCE:</h2>
    </div>
    <div class="col-md-8">
      <h3>DIGITAL PRODUCT MANAGER | CULTUREDABBA | JUNE 2016-PRESENT</h3>
        <p>I manage the CultureDabba digital product strategy and roadmap.</p>
        <p>I handle the creative and technical production and direction of Digital products at CultureDabba.</p>
        <p>Create digital assets for website, social media and mobile channels (games and apps).</p>
        <p>Lead development of a testing model to assist with content and seek feedback.</p>
      <h3>CO-FOUNDER | WHITERAVEN MEDIA CORP | OCTOBER 2015-MAY 2016</h3>
        <p>I co-founded Whiteraven Media Corp, a digital media studio specializing in video games, android applications and creative online videos.</p>
        <p>We worked on a rich-content Videogame focused on female gamers. The game is in line with existing games such as Ori and the Blind forest.</p>
      <h3>ANDROID DEVELOPER AND PRODUCT MANAGER | SUNSHINE CONCESSIONS | DECEMBER 2014-SEPTEMBER 2015</h3>
        <p>My work included designing, developing and maintaining the in-house Android based POS (Point of sale) system.</p>
        <p>I worked on redesigning and rebooting the online presence of Sunshine Concessions, Web design and SEO.</p>
      <h3>TEACHING ASSISTANT | KINGSTON UNIVERSITY | OCTOBER 2014-JANUARY 2015</h3>
        <p>I was part of the faculty of the School of Computing at Kingston University and worked as a teaching assistant.</p>
        <p>I aided in the teaching of theoretical video game study and design, 3D modelling, Business Analysis solutions, Digital projectmanagement and User Experience design.</p>
        <p>I managed and mentored 17 different digital projects and teams at the University.</p>
      <h3>VIDEO GAME DESIGNER | KINGSTON UNIVERSITY | SEPTEMBER 2013-JANUARY 2015</h3>
        <p>My work on the concept for a new James Bond Game – Elixir has won me laurels at Kingston and has also contributed to my scoring the highest marks in my class and my degree’s distinction.</p>
        <p>I also worked as the Lead Designer on a team project for Sony PlayStation, where we came out with a game “Heroes of Meteropia”, which introduced a novel customizable comic strip styled gameplay with the end tactile reward of a physical comic book of the player’s adventures.</p>
        <p>Of my other projects, I designed Dew riders, a game to help Alzheimer’s patients reduce the onset of the disease and also make the teaching of physics and chemistry fun for young students.</p>
      <h3>USER EXPERIENCE DESIGNER | KINGSTON UNIVERSITY | SEPTEMBER 2013-JANUARY 2015</h3>
        <p>During this period, I based one of my University projects on Redesigning James Bond online, where I worked on redesigning and rebooting the world of James Bond online, turning it into a strong online experience for a modern audience.</p>
    </div>
    <div class="col-md-4">
      <h2 style="font-family:'Lato-Thin'">AREAS OF INTEREST:</h2>
    </div>
    <div class="col-md-8">
      <h3> DIVERSE SECTORS </h3>
      <p>I have deep interests in digital project management, online media, marketing, product placement and client psychology.</p>
      <p>I have an inclination towards designing video games with intricate levels of detail, particularly puzzle and free to play games.</p>
      <p>I am very interested in concept design and re-engineering digital media.</p>
      <p>I am very keen on User Experience design and redesign of websites and mobile applications.</p>
    </div>
    <div class="col-md-4">
      <h2 style="font-family:'Lato-Thin'">SKILLS AND ABILITIES:</h2>
    </div>
    <div class="col-md-8">
      <h3>VIDEO GAME DESIGN AND DEVELOPMENT</h3>
      <p>I possess extensive knowledge and experience with modern video game industry standards and trends.</p>
      <p>I am proficient at designing Video games at both extremely complex levels and simple intricate puzzle based games.</p>
      <p>I have also done recognized research in the fields of Video game psychology, particularly military simulation and player psychology.</p>
      <p>I am an expert at designing pitch and design documents and delivering presentations for Video games across all levels and platforms.</p>
      <h3>MANAGEMENT</h3>
      <p>I am an expert SCRUM and Digital project manager.</p>
      <p>I have taught Digital Project Management at a graduate and post graduate level at Kingston University.</p>
      <p>I have also worked as a Digital Project Manager at Kingston University, managing 17 Projects (14 Video Game + 3 User Experience & Interface). I worked with each team of 5-7 members, mentoring and guiding them through their projects from inception to completion.</p>
      <h3>ANIMATION</h3>
      <p>I am familiar with 3D modelling tools like 3D Studio MAX and MAYA and have studied 3D modelling at Kingston University under one of Pixar’s lead animators for the Toy Story series, Mrs. Karen Halliwell.</p>
      <h3>COMMUNICATION</h3>
      <p>I possess extremely high oratory and presentation skills and am an avid and confident public speaker.</p>
      <p>I have participated in the weekly workshops at Kingston University, London, and delivered presentations on topics like: Redesigning James Bond, Psychology based Video Games Design, Narratology vs Ludology in Video Games, etc.</p>
      <p>I have a strong passion for languages and am proficient with written and spoken English, French, Hindi and Tamil.</p>
      <p>In addition to the above, I possess elementary proficiency with German, Spanish, Italian and Bulgarian.</p> 
    </div>
    <div class="col-md-4">
      <h2 style="font-family:'Lato-Thin'">REFERENCES:</h2>
    </div>
    <div class="col-md-8">
      <h3>Prof. Vesna Brujic-Okretic </h3>
      <p>Head of Computing and Information Systems, Kingston University, London
      vesna@kingston.ac.uk</p>
      <h3>Prof. Vasileios Argyriou</h3>
      <p>Associate Professor, Science Engineering and Computing, Kingston University, London
      v.argyriou@gmail.com</p>
      <h3>Prof. Stephen J. Webley</h3>
      <p>Faculty of arts and creative technologies, Staffordshire University, Staffordshire
      s.j.webley@staffs.ac.uk</p> 
      <h3>Gary Woodworth</h3>
      <p>Founder and Director, Sunshine Concessions, Denver CO
      gary@sunshineconcessions.com</p>
      </div>
      </div>
      </div>